
body{
  margin:0;
}
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
}
.container{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:54px;
  flex:1;
}
.header__homepage{
  cursor: pointer;
  color:#448899;
}
.header__container{
  width:100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top:0px;
  z-index: 100;
  background-color: white;
  
}
.header__container--border{
  border-bottom: 1px solid rgba(232,232,232,1);
}
.header{
  width:1200px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height:34px;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
}
.header__login{
  display: flex;
  align-items: center;
}
.header span{
  color:#666666;
  padding:10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.title__backimg{
  width:1920px;
  object-fit: cover;
  z-index: -100;
  position: absolute;
  top:0;
}

.title{
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  overflow: hidden;
}
.title__container{
  width:1200px;
  font-weight: 700;
  padding: 10px;
  gap:20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.title__container__big{
  font-weight: 700;
  font-size: 28px;
  height: 41px;
  color:white;
}
.title__container__small{
  font-weight: 700;
  font-size: 16px;
  height: 22px;
  color:white;
}
.title__search{
  width:100%;
  background-color: white;
  height:46px;
  display: flex;
  justify-content: space-between;
  max-width:460px;
  border-radius: 5px;
}
.title__container input{
  background-color: transparent;
  border:0px;
  border-radius: 5px;
  font-size: 16px;
  width:100%;
  outline: none;
  padding:15px;
}
.title button{
  width:60px;
  height:46px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border:0px;
  background-color: #448899;
}
.title__search img{
  width:30px;
  height:30px;
}
.title__search button{
  cursor: pointer;
}
.mrt{
  margin:0 auto;
  margin-top: 40px;
  width:1200px;
  height:70px;
  display: flex;
}
.mrt__arrow__left{
  height:50px;
  padding:9px 0px 9px 15px;
  cursor: pointer;
}
.mrt__arrow__right{
  height:50px;
  padding:9px 15px 9px 0px;
  cursor: pointer;
}
.mrt img{
  width:32px;
  height:32px;
  border-radius: 20px;
}
.mrt__list{
  padding: 9px 10px 0px 10px;
  height:100%;
}
.mrt__li{
  font-size: 16px;
  font-weight: 500;
  list-style-type: none;
  padding:5px 15px 5px 15px;
}

.mrt__ul{
  margin-top: 0px;
  max-width: 1080px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0px;
  overflow-x: hidden;
  cursor: pointer;
}

.mrt__ul--focus{
  font-size: 17px;
  font-weight: 700;
}
.attractions{
  margin:0 auto;
  width:1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.attractions__card{
  margin:15px;
  border-radius: 5px;
  border:1px solid #E8E8E8;
  cursor:pointer;
  
}
.attractions__name{
  background-color:rgba(0,0,0,0.6);
  position: absolute;
  bottom:0;
  width:100%;
  height:40px;
  font-size: 16px;
  font-weight: 700;
  display:flex;
  align-items: center;
}
.attractions__name span{
  color: white;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.attractions__img{
  position: relative;
  cursor: pointer;
  height:197px;
}
.attractions img{
  width:100%;
  height:197px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.attractions__des{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}
.attractions__des span{
  padding:10px;
  gap:4px;
  height:25px;
}
.footer{
  font-size: 16px;
  font-weight: 700;
  height:104px;
  background-color:  #757575;;
  width:100%;
  display: flex;
  justify-content: center;
}
.footer div{
  padding-top:40px ;
  background-color: transparent;
}
.spot__container{
  margin-top: 40px;
  margin-bottom: 40px;
  display:flex;
  width: 1200px;
  justify-content: space-between;
}
.spot__img--container{
  width:540px;
  height:400px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  border-radius: 5px;
}
.spot__content--container{
  width:600px;
  margin-left: 15px;
  margin-right: 15px;
  color:rgba(102,102,102,1)
}
.spot__circle--container{
  position: absolute;
  bottom:10px;
  left:50%;
  transform: translate(-50%);
}
.spot__circle{
  cursor: pointer;
}
.spot__arrow{
  position: absolute;
  top:182px;
  cursor: pointer;
}
.spot__arrow--left{
  left:5px;
}
.spot__arrow--right{
  right:5px;
}
.spot__img{
  width:100%;
  height:100%;
  object-fit: cover;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
}
.spot__img--active{
  display: block;
}
.active{
  opacity: 1;
}
.spot__name{
  font-size:24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.spot__mrt{
  font-size:16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.spot__booking--container{
  font-size:16px;
  font-weight: 700;
  background-color: rgba(232,232,232,1);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  height:287px;
}
.spot__booking--title{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.spot__booking--inf{
  margin-bottom: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.spot__booking--date{
  margin-bottom: 15px;
  display: flex;
  align-items: center;  
}
.spot__date--input{
  width: 173px;
  height:25px;
  border:none;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
}
.spot__booking--time{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.spot__booking--time span{
  font-weight: 400;
  margin-left: 5px;
  text-align: center;
  display: flex;
  align-items: center;
}
.spot__booking--time img{
  width:22px;
  height: 22px;
  margin-left: 5px;
  margin-right: 4px;
  cursor: pointer;
}
.spot__booking--price{
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.spot__booking--price span {
  font-weight: 400;
  margin-left: 5px;
}
.spot__booking--btn{
  color:white;
  background-color: rgba(68,136,153,1); 
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 400;
  border: none;
}
.line{
  width: 1200px;
  height: 0px;
  border-bottom: 1px solid rgba(232,232,232,1);
}
.content__container{
  margin-top: 40px;
  width:1180px;
  padding: 10px;
  font-size: 16px;
  color:rgba(102,102,102,1)
}
.content__container span{
  font-weight: 700;
  line-height: 32px;
}
.content__des{
  margin-bottom: 20px;
}
.content__address{
  margin-bottom: 20px;
  line-height: 24px;
}
.content__transport{
  line-height: 24px;
}
.rl__background{
  /* display:none;  */
  position: fixed;
  z-index: 200;
  width:100%;
  height: 100%;
  background-color:rgba(0,0,0,0.25);
}
.rl__container{
  width: 340px;
  background-color: white;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 80px;
  opacity: 1;
  box-shadow: 0px 4px 60px rgba(170,170,170,1);
  color:rgba(102,102,102,1);
  position: relative;
}
.rl__input--space{
  position: absolute;
  /* top:204px; */
  right:15px;
  color:red;
  font-weight: 700;
  font-size: 14px;
  display:none;
  align-items: center;
}

.rl__input--space::before{
  content: "";
  width:0px;
  height: 0px;
  margin-right:5px ;
  border:transparent 5px solid;
  border-right: 10px solid red;
}
.rl__topbar{
  background: linear-gradient(to left,rgba(51,119,136,1),rgba(102,170,187,1));
  height: 10px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.rl__title{
  margin: 0 auto;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.rl__inf{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top:30px;
  margin-bottom:30px;
}
.rl__errorInf{
  display: none;
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: 500;
}
.rl__errorInf--open{
  display: block;
}
.rl__form{
  display:flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.rl__input{
  color:rgba(117,117,117,1);
  font-size: 16px;
  font-weight: 500;
  padding: 13.5px 15px 13.5px 15px;
  width:278px;
  margin:0 auto;
  border:1px solid rgba(204,204,204,1);
  margin-bottom: 10px;
  border-radius: 5px;
}
.rl__username{
  display:none;
}
.rl__btn{
  margin:0 auto;
  font-size: 19px;
  font-weight: 400;
  color:white;
  background-color: rgba(68,136,153,1);
  border-radius: 5px;
  border:none;
  padding: 10px;
  width:310px;
  cursor: pointer;
}
.rl__btn--spe{
  margin:15px;
}
.rl__toggle{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}
.rl__toggle span{
  cursor: pointer;
}
.rl__close{
  position: absolute;
  width:16px;
  height: 16px;
  top:27px;
  right:17px;
  cursor: pointer;
}
@media(max-width:1200px){
  .header{
      width:100%;
  }
  .title__container{
      width:calc(100% - 20px);
  }
  .mrt{
      width:100%;
      max-width: 100%;
  }
  .mrt__ul{
      max-width:calc(100vw - 150px)
  }
  .attractions{
      width:100%;
      grid-template-columns: 1fr 1fr;
  }
  .line{
    width:100%;
  }
  .spot__container{
    width:100%;
  }
  .content__container{
    width:calc(100% - 20px);
  }
  
}

@media(max-width:800px){
  .spot__container{
    flex-direction: column;
    margin-top: 0;
  }
  .spot__img--container{
    width:100%;
    margin:0;
  }
  .spot__content--container{
    margin-left: 10px;
    margin-right: 10px;
    width:calc(100% - 60px);
    margin-top: 20px;
  }
  .spot__booking--container{
    width:100%;
    height: auto;
  }
  .spot__booking--btn{
    margin-bottom: 15px;
  }
  .header__container--border{
    border:0;
  }
  
}

@media(max-width:600px){
  .attractions{
      grid-template-columns: 1fr;
  }
  .spot__img--container{
    height:350px;
  }
}
