
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.header__homepage{
  cursor: pointer;
  color:#448899;
}
.header__container{
  width:100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top:0px;
  z-index: 100;
  background-color: white;
}
.header{
  width:1200px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  height:34px;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
}
.header__login{
  display: flex;
  align-items: center;
}
.header span{
  color:#666666;
  padding:10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.title__backimg{
  width:1920px;
  object-fit: cover;
  z-index: -100;
  position: absolute;
  top:0;
}

.title{
  margin-top: 54px;
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  overflow: hidden;
}
.title__container{
  width:1200px;
  font-weight: 700;
  padding: 10px;
  gap:20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.title__container__big{
  font-weight: 700;
  font-size: 28px;
  height: 41px;
  color:white;
}
.title__container__small{
  font-weight: 700;
  font-size: 16px;
  height: 22px;
  color:white;
}
.title__search{
  width:100%;
  background-color: white;
  height:46px;
  display: flex;
  justify-content: space-between;
  max-width:460px;
  border-radius: 5px;
}
.title__container input{
  background-color: transparent;
  border:0px;
  border-radius: 5px;
  font-size: 16px;
  width:100%;
  outline: none;
  padding:15px;
}
.title button{
  width:60px;
  height:46px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border:0px;
  background-color: #448899;
}
.title__search img{
  width:30px;
  height:30px;
}
.title__search button{
  cursor: pointer;
}
.mrt{
  margin-top: 40px;
  width:1200px;
  height:70px;
  display: flex;
}
.mrt__arrow__left{
  height:50px;
  padding:9px 0px 9px 15px;
  cursor: pointer;
}
.mrt__arrow__right{
  height:50px;
  padding:9px 15px 9px 0px;
  cursor: pointer;
}
.mrt img{
  width:32px;
  height:32px;
  border-radius: 20px;
}
.mrt__list{
  padding: 9px 10px 0px 10px;
  height:100%;
}
.mrt__li{
  font-size: 16px;
  font-weight: 500;
  list-style-type: none;
  padding:5px 15px 5px 15px;
}

.mrt__ul{
  margin-top: 0px;
  max-width: 1080px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0px;
  overflow-x: hidden;
  cursor: pointer;
}

.mrt__ul--focus{
  font-size: 17px;
  font-weight: 700;
}
.attractions{
  margin:0 auto;
  width:1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.attractions__card{
  margin:15px;
  border-radius: 5px;
  border:1px solid #E8E8E8
  
}
.attractions__name{
  background-color:rgba(0,0,0,0.6);
  position: absolute;
  bottom:0;
  width:100%;
  height:40px;
  font-size: 16px;
  font-weight: 700;
  display:flex;
  align-items: center;
}
.attractions__name span{
  color: white;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.attractions__img{
  position: relative;
  cursor: pointer;
  height:197px;
}
.attractions img{
  width:100%;
  height:197px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.attractions__des{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}
.attractions__des span{
  padding:10px;
  gap:4px;
  height:25px;
}
.footer{
  font-size: 16px;
  font-weight: 700;
  height:104px;
  background-color:  #757575;;
  width:100%;
  display: flex;
  justify-content: center;
}
.footer div{
  padding-top:40px ;
  background-color: transparent;
}

@media(max-width:1200px){
  .header{
      width:100%;
  }
  .title__container{
      width:calc(100% - 20px);
  }
  .mrt{
      width:100%;
      max-width: 100%;
  }
  .mrt__ul{
      max-width:calc(100vw - 150px)
  }
  .attractions{
      width:100%;
      grid-template-columns: 1fr 1fr;
  }
  
}


@media(max-width:600px){
  .attractions{
      grid-template-columns: 1fr;
  }
}
